---
import { codeToHtml } from "shiki";
import startCase from "lodash/startCase";
import ExampleHeader from "components/ExampleHeader.astro";
import {
    getProjectExampleDescriptions,
    getProjectExampleCodes,
    getProjectExampleMeta
} from "utils/examples";

interface Props {
    path: string;
    wrapper: astroHTML.JSX.Element;
}

const { path, wrapper: W } = Astro.props;

const Descriptions = getProjectExampleDescriptions();
const Codes = getProjectExampleCodes();
const Metas = getProjectExampleMeta();

const Description = await Descriptions[path]!();
const codeString = await Codes[path]!();
const meta = await Metas[path]!();

const htmlCodeString = await codeToHtml(codeString, {
    lang: "tsx",
    theme: "min-light",
    transformers: [
        {
            pre({ children }) {
                if (children.length !== 1) {
                    throw new Error("Bad children length");
                }

                const firstCodeChild = children[0]!;

                if (
                    firstCodeChild.type === "element" &&
                    firstCodeChild.tagName === "code"
                ) {
                    return firstCodeChild;
                }

                throw new Error("Bad pre transformer");
            }
        }
    ]
});

const titleBase = startCase(path.split("/").reverse().join(" "));
---

<W title={`${titleBase} Example`} description={meta.description}>
    <div class="flex h-full flex-col">
        <div>
            <ExampleHeader path={path} />
            <Description />
        </div>
        <div
            class="not-prose xl:contain-strict grid flex-1 grow grid-cols-1 gap-4 xl:basis-0 xl:grid-cols-2 xl:overflow-hidden"
        >
            <iframe
                title={`${titleBase} Preview`}
                class="h-[35vh] w-full xl:h-full"
                src={`/examples/src/${path}/index.html`}></iframe>
            <pre
                class="overflow-x-auto p-4 text-sm xl:overflow-y-auto"
                data-theme
                tabindex={0}
                set:html={htmlCodeString}
            />
        </div>
    </div>
</W>
