---
import { codeToHtml } from "shiki";
import startCase from "lodash/startCase";
import ExampleHeader from "components/ExampleHeader.astro";
import {
    getProjectExampleDescriptions,
    getProjectExampleCodes,
    getProjectExampleMeta
} from "utils/examples";

interface Props {
    path: string;
    wrapper: astroHTML.JSX.Element;
}

const { path, wrapper: W } = Astro.props;

const Descriptions = getProjectExampleDescriptions();
const Codes = getProjectExampleCodes();
const Metas = getProjectExampleMeta();

const Description = await Descriptions[path]!();
const codeString = await Codes[path]!();
const meta = await Metas[path]!();

const htmlCodeString = await codeToHtml(codeString, {
    lang: "tsx",
    theme: "light-plus",
    transformers: [
        {
            pre({ children }) {
                if (children.length !== 1) {
                    throw new Error("Bad children length");
                }

                const firstCodeChild = children[0]!;

                if (
                    firstCodeChild.type === "element" &&
                    firstCodeChild.tagName === "code"
                ) {
                    return firstCodeChild;
                }

                throw new Error("Bad pre transformer");
            }
        }
    ]
});

const titleBase = startCase(path.split("/").reverse().join(" "));
---

<W title={`${titleBase} Example`} description={meta.description}>
    <div
        class="grid h-full place-items-stretch gap-4 xl:grid-cols-2 xl:contain-strict grid-rows-[min-content]"
    >
        <div class="prose-p:m-0 col-span-full">
            <ExampleHeader path={path} class="mb-8" />
            <Description />
        </div>
        <iframe
            title={`${titleBase} Preview`}
            class="h-[35vh] xl:h-auto border"
            src={`/examples/src/${path}/index.html`}></iframe>
        <pre
            class="m-0 rounded-none text-sm xl:overflow-y-auto"
            data-theme
            tabindex={0}
            set:html={htmlCodeString}
        />
    </div>
</W>
