---
import { Icon } from "astro-icon/components";
import stripTrailingSlash from "utils/stripTrailingSlash";

const currentPath = stripTrailingSlash(Astro.url.pathname);

interface Props {
    items: any[];
}

const { items } = Astro.props;

const idx = items.findIndex(item => item.path === currentPath);
const prev = idx > 0 ? items[idx - 1] : null;
const next = idx < items.length - 1 ? items[idx + 1] : null;
---

{
    prev ? (
        <a
            href={prev.path}
            aria-label={`Previous: ${prev.name}`}
            class="flex items-center gap-1 text-ellipsis break-words text-left"
        >
            <Icon name="material-symbols:arrow-back" />
            {prev.name}
        </a>
    ) : (
        <div />
    )
}
{
    next ? (
        <a
            href={next.path}
            aria-label={`Next: ${next.name}`}
            class="flex items-center gap-1 text-ellipsis break-words text-right"
        >
            {next.name}
            <Icon name="material-symbols:arrow-forward" />
        </a>
    ) : (
        <div />
    )
}
